body {
	background-color: rgb(7, 6, 7);
  }
  
 .navbar {
  width: 100%;
  height: 100px;
  background-color: #000000;
  background-image:
   radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%),
   radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%),
   radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Sağa dayalı hizalama */
 }

 .navbar h1 {
 font-size: 25px;
 margin: 0 auto;
 text-align: center;
 color: #f0eef4;
 }

 .logo {
	margin-top: 155px; /* Adjust the value as needed */
  }

 .logo_container {
	height: 50px; /* Adjust the height value as needed */
	margin-top: 155px; /* Adjust the margin-top value as needed */  }

.navbar_text {
 color: #ffffff;
 font-size: 18px;
  margin-top: 5px;
 text-align: left;
 margin-left: 20px; /* Add a margin on the left side */
 }
	  


.white_btn {
border: none;
outline: none;
padding: 12px 0;
border-radius: 20px;
width: 120px;
font-weight: bold;
font-size: 14px;
cursor: pointer;
margin-right: 20px;
}

.white_btn:hover {
	background-color: #f0eef4;
	color: rgb(0, 0, 0);
}


 .button_link {
	border: none;
	outline: none;
	padding: 12px 0;
	border-radius: 20px;
	width: 250px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
	margin-left: 0;
	color: white;
	text-decoration: none;
	}
	
 .button_link:hover {
		background-color: #f0eef4;
		color: rgb(0, 0, 0);
}
